.header {
  display: flex;
  align-items: center;
  height: 4em;
}
.header__nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.header__logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  padding: 0 0 0 40px;
}
