<div class="container">
    <div class="form-container">
        <p class="title">Recipe Form</p>
        <form [formGroup]="recipe" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="recipe">Recipe No:</label>
                <input type="text" id="recipe" formControlName="id" placeholder="Eg:12">

            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name" placeholder="Eg:lemon chicken">

            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <input type="text" id="ingredients" formControlName="ingredients" placeholder="Lemon,Chicken,..">

            </div>
            <div class="form-group">
                <label for="instruction">Instructions:</label>
                <textarea id="instruction" formControlName="instructions"
                    placeholder="Eg:Mince 1kg chickend breast"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description"
                    placeholder="Describe your dish here"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" formControlName="category" placeholder="Eg:Chicken Item">

            </div>
            <div class="form-actions">
                <button type="submit">{{button}}</button>
                <a routerLink="/">Cancel</a>
            </div>
        </form>
    </div>
</div>