<section class="hero">
    <div class="hero__container">
        <div class="hero__text-content">
            <h1 class="hero__title--primary">Your <span class="accent">Recipe</span> Vault </h1>
            <p class="hero__description">Mix, match, and personalize! Craft delicious meals and save your own culinary
                creations.</p>
            <div class="hero__button">
                <p class="btn">Get Started!</p>
            </div>
        </div>

        <div class="hero__image-content">
            <img src="/assets/hero1.png" alt="" class="hero__image">
        </div>
    </div>
</section>