.detail__img {
  width: 100%;

  border: 1px solid black;
}
.detail {
  width: 100vw;
  border: 1px solid rgb(13, 28, 232);
  padding: 2em 2em 2em 5em;
}
.detail__container {
  width: 75%;
  border: 1px solid red;
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
