<app-navbar></app-navbar>
<section class="detail-page">
    <div class="detail__title">
        <h1>{{recipe?.name}}</h1>
    </div>
    <div class="detail__container">
        <div class="detail__img ">
            <img src="../../assets/detail.jpg" alt="">
        </div>
        <div class="detail__ingredients ">
            <div class="ingredients__list box" [ngClass]="{'active':box==='ingredient'}" (click)="toggle('ingredient')">
                <h2>Ingredients</h2>
                <div class="ingredients__list--content">
                    @for(ingredient of recipe?.ingredients;track ingredient){
                    <li>{{ingredient}}</li>
                    }
                </div>

            </div>
            <div class="detail__description box " [ngClass]="{'active':box==='description'}"
                (click)="toggle('description')">
                <h2>Description</h2>
                <div class=" detail__description--content">
                    <p>{{recipe?.description}}.

                    </p>
                </div>
            </div>
        </div>
        <div class="detail__instructions box">
            <h2>Instruction</h2>
            <ul>@for(step of getInstruction(recipe?.instructions);track step){
                <li>{{step}}</li>
                }
            </ul>

        </div>
    </div>
</section>