<app-navbar></app-navbar>
<section class="detail">
    <div class="detail__container">
        <div class="detail__right"><img class="detail__img" src="../../assets/hero1.png" alt="food">
            <h1 class="detail__title">{{recipe?.name}}</h1>
        </div>

        <div class="detail__foodInfo">
            <h2 class="detail__title">Instruction</h2>
            <p>{{recipe?.instructions}}
            </p>
            <div class="detail__contents">

                <div class="detail__ingredients">
                    <p>Ingridents</p>
                    <div class="detail__ingreditents--content">
                        <li>recipe</li>
                        <li>recipe</li>
                        <li>recipe</li>
                        <li>recipe</li>



                    </div>
                </div>
                <div>
                    <li>Instructuon</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </div>
            </div>
        </div>





    </div>
</section>