@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nova+Mono&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
@media screen and (max-width: 500px) {
  body {
    overflow: visible;
  }
}
