.cardDisplay {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 3em;
  padding: 3.5em;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  margin-top: 5em;
}
.home__searchBox {
  margin-top: 2em;
  width: 20em;
}
.home__searchArea {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.home__main {
  margin: 2em;
  display: grid;
  grid-template-columns: 4fr;
}
.home__crud {
  display: flex;
  gap: 3em;
}
.home__crud button {
  padding: 0.75rem 2rem;
  display: flex;
  border: none;
  border-radius: 5px;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: black;
}
input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #999;
}
.sort label {
  margin-right: 5px;
}
.centered-message {
  display: flex;
  position: absolute;
  left: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-message h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.centered-message p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cardDisplay {
    grid-template-columns: 1fr;
  }
  .search {
    flex-wrap: wrap;
  }
  .home__crud button {
    margin-top: 31px;
  }
  .sort {
    margin-top: 2em;
  }
}
@media screen and (max-width: 430px) {
  .search {
    display: block;
  }
  .cardDisplay {
    padding: 0;
  }
}
